repos:
- repo: local
  hooks:
    - id: ty
      name: run ty check
      entry: uv run --all-extras ty check .
      language: python
      types: [python]
      exclude: './notebooks/*'
      
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.14.11
  hooks:
    # Run the linter with import sorting.
    - id: ruff
      args: ["check", "--select", "I", "--fix"]
      types: [python]
    # Run the formatter.
    - id: ruff-format
      types: [python]
